<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="processing.test.project"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:icon="@drawable/icon"
        android:label="Color Jump">
        <activity
            android:name="cz.muni.fi.pv239.project.activities.ActivityNewUser"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="cz.muni.fi.pv239.project.activities.ActivityUserOperations"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="cz.muni.fi.pv239.project.activities.ActivityChangeUser"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="cz.muni.fi.pv239.project.activities.ActivityHighScores"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="cz.muni.fi.pv239.project.activities.ActivityPlay"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="cz.muni.fi.pv239.project.activities.ActivityMainMenu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>